@import 'styles.css';

.chat {
  /* border: 1px solid var(--secondary-color); */
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  font-family: Arial, sans-serif;
  cursor: default;
}

h1 {
  margin-bottom: 0.5rem;
}

.chat-box {
  min-height: 80px;
  padding: 0.5rem;
  /* background-color: white; */
  border-radius: 6px;
  margin-bottom: 1rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
/* mobile styles: shrink margins, padding, and height */
@media (max-width: 900px) {
  .chat-box {
    margin: 1rem 0;
    overflow: wrap;
    min-height: 30px;
  }
}


/* Buttons */
.chat-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button-add {
  background-color: var(--primary-color);
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.button-add:hover {
  background-color: var(--secondary-color);
}

.button-generate {
  background-color: var(--primary-color);
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.button-generate:hover {
  background-color: var(--secondary-color);
}
.recipes-container {
  margin-top: 1rem;
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  padding: 1rem; /* Add padding to prevent content from being cut off */
  gap: 1rem;
  padding-bottom: 1rem; /* Add padding to prevent content from being cut off */
  box-sizing: border-box; /* Include padding in width calculation */
}

.chat-box .recipe-card {
  display: flex;
  flex: 0 0 auto;
  max-width: 100%;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  box-sizing: border-box; /* Include padding in width calculation */
  flex-direction: column;
  justify-content: center;
  max-height: 80vh;
  font-size: 100%;
}

.chat-box .recipe-card h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.chat-box .recipe-card h4 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.recipe-image {
  width: 25%;
  max-width: 25%;
  height: auto;
  padding: 1.5rem;
  border-radius: 6px;
  margin: 0.5rem auto 0.5rem auto;
  /* display: block; */
  object-fit: cover;
}

.macros {
  margin-top: 1rem;
  color: var(--secondary-color);
}

.text-gray-400 {
  color: var(--secondary-color);
}

.text-red-500 {
  color: red;
}

.loading-container{

  margin: auto;
  width: 50%;
  padding: 10px;

}

.hourglass{

  margin: auto;
  width: 50%;
  padding: 10px;

}

.loading-text{

  margin: auto;
  width: 50%;
  padding: 10px;

}






