@import 'styles.css';

.data-card-wrapper {
  border: 1px solid var(--secondary-color);
  border-radius: 12px;
  padding: 2rem;
  margin: 2rem auto;
  margin-left: 100px;
  max-width: 1200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 900px) {
  .app-logo {
    margin-bottom: 0px;
  }

  .data-card-wrapper {
    margin: 0 auto;   /* reset the top and bottom margins */
    margin-left: 100px;
    padding: 1rem;    /* optional: make padding smaller too */
  }
}

.data-card-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
}

.right-column {
  flex: 1;
  max-width: 700px;
}

@media (max-width: 900px) {
  .data-card-content {
    flex-direction: column;
     /* center items when stacked, make dynamic for mobile view */
    align-items: center; 
  }

  .left-column, .right-column {
    max-width: 100%;
    width: 100%;
  }
}