@import 'styles.css';

.data-card {
  /* border: 1px solid var(--secondary-color); */
  border-radius: 0.8rem;
  padding: 16px;
  max-width: 75vw;  /* mobile */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
  font-family: Arial, sans-serif;
  margin: 0 auto;
}

/* Desktop styles */
@media (min-width: 900px) {
  .data-card {
    max-width: 45vw; 
  }
}


.data-card .fridgecontents {
  font-size: 1rem;
  color: #555;
  margin-bottom: 12px;
}

.data-card .name {
  font-size: 1rem;
  color: var(--secondary-color);
  margin-bottom: 12px;
}

.data-card .items-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;  /* hide the scrollbar, controlled by buttons !! */
  scroll-behavior: smooth;
  gap: 12px;
  padding: 8px 0;
}

.data-card .add-item-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.data-card .scroll-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem 0;
  padding: 0 10px;
  /* border: 1px solid var(--secondary-color); */
}

.data-card .scroll-buttons button {
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: none;
  color: white;
  padding: 8px;
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.data-card .scroll-buttons button:hover {
  background-color: var(--accent-color);
}


.circle-checkbox {
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #555;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  top: 5px;
}

.circle-checkbox:checked {
  background-color: var(--accent-color);
}

.grocery-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

