@import 'styles.css';


  
.profile-page {
    display: flex;
    min-height: 100vh;
    background-color: var(--primary-color);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-icon {
    font-size: 50px;
    color: #333;
}

.username {
    font-size: 24px;
    margin-top: 10px;
    color: #333;
    text-align: center;
}
  