@import 'styles.css';

/* recipe card layout */
.recipe-card-container {
  /* border: 1px solid var(--secondary-color); */
  /* border-radius: 12px; */
  padding: 2rem;
  padding-top: 0;
  margin-left: var(--sidebar-width);
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  }

  @media (max-width: 900px) {

    .recipe-card-container {
      margin: 0 auto;   /* reset the top and bottom margins */
      /* margin-left: 100px; */
      padding: 1rem;    /* optional: make padding smaller too */
    }
  }

  
  .recipe-card-list {
    /* border: 1px solid var(--secondary-color); */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .recipe-card {
    min-width: 20%;
    width: auto;
    /* border: 1px solid var(--secondary-color); */
    padding: 1rem;
    cursor: pointer;
    text-align: left;
  }

  .recipe-card-container .recipe-card {
    /* border: 1px solid var(--secondary-color); */
    width: 20%;
    overflow: wrap;
    text-align: center;
  }
  
  .recipe-card img {
    width: 100%;
    height: auto;
    max-width: 100px;
    margin-top: 1rem;
  }
  
  /* recipe details modal */
.recipe-details-modal {
  border: 1px solid var(--secondary-color);
    position: fixed;
    top: 50%;
    left: calc(50% + 50px);
    transform: translate(-50%, -50%);
    background-color: white; 
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 90%; 
    max-width: 600px;
    border-radius: 10px;
    overflow-y: auto;
    max-height: 90vh;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
  
  .recipe-details-modal::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  
  .recipe-details-modal h2,
  .recipe-details-modal h3 {
    font-size: 1.2rem;
  }
  
  .recipe-details-modal input,
  .recipe-details-modal textarea {
    width: 90%;
    padding: 1rem;
    border: none;
    background-color: whitesmoke;
    border-radius: 0.5rem;
    font-family: inherit;
  }
  
  .recipe-details-modal textarea {
    min-height: 100px;
  }
  
  .recipe-details-modal button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
  }

  .recipe-details-modal li {
    text-align: left;
    padding: 0.1rem 0.5rem;
  }
  
  .recipe-details-modal button:hover {
    background-color: var(--secondary-color);
  }
  
  .recipe-details-modal button:nth-of-type(2) {
    background-color: #f44336;
  }
  
  .recipe-details-modal button:nth-of-type(2):hover {
    background-color: #e53935;
  }
  
  @media (max-width: 600px) {

    .recipe-card-container .recipe-card {
      width: 45%;
    }

    .recipe-details-modal {
      left: 50%;
      width: 95%;
      max-width: none;
      padding: 1rem;
      padding-bottom: 1.2rem;
      max-height: 90vh;
      overflow-y: auto;
    }

    .recipe-details-modal h2,
    .recipe-details-modal h3 {
      font-size: 1em;
    }

    .recipe-details-modal input,
    .recipe-details-modal textarea {
      font-size: 0.9em;
      padding: 8px;
    }

    .recipe-details-modal button {
      font-size: 0.9em;
      padding: 8px 16px;
    }
  }

  /* modal for editable nutrition */
  .nutrition-container {
    display: flex;
    padding: 0 1rem;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
  }
  
  .nutrition-container label {
    font-weight: bold;
  }
  
  .nutrition-container input {
    width: 100px;
    padding: 5px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
  }
  
  
  /* new recipe form */
  .add-recipe-container {
    padding: 20px;
  }
  
  .add-recipe-container input,
  .add-recipe-container textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
  }
  
  .add-recipe-container button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* add recipe button */
  .add-recipe-button-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .add-recipe-button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .add-recipe-button:hover {
    background-color: var(--secondary-color);
  }
  
  /* modal recipe for add overlay */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }
  
  /* cancel btn*/
  .add-recipe-container button:nth-of-type(2) {
    background-color: #f44336;
  }
  
  .add-recipe-container button:nth-of-type(2):hover {
    background-color: #e53935;
  }
  
  /* save & cancel btns for modal */

  .recipe-modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .save-button,
  .cancel-button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .save-button {
    background-color: var(--primary-color);
    color: var(--background-color);
  }
  
  .save-button:hover {
    background-color: var(--primary-color);
  }
  
  .cancel-button {
    background-color: #f44336;
    color: var(--background-color);
  }
  
  .cancel-button:hover {
    background-color: #e53935;
  }
  
  .edit-button {
    background-color: var(--accent-color);
    color: var(--background-color);
  }
  
  .edit-button:hover {
    background-color: var(--accent-color);
  }
  
  .recipe-details-modal .close-button {
    background-color: whitesmoke;
    width: 3rem;
    height: 3rem;
    color: #ccc;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 999;
  }

  .recipe-details-modal .close-button:hover {
    background-color: var(--primary-color);
    color: white;
    z-index: 999;
  }

  .friend-recipes-container {
    display: flex;
    overflow-x: auto;
    padding-bottom: 1rem;
    /* border: 1px solid var(--secondary-color); */
    width: 100%;
    padding: 0;
    background-color: transparent;
  }
  
  .friend-recipe-card {
    display: flex;
    flex: 0 0 auto;
    border: none;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    /* border: 1px solid var(--secondary-color); */
    /* background-color: white; */
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.1); */
    box-sizing: border-box; /* Include padding in width calculation */
    flex-direction: column;
    justify-content: center;
    max-height: 80vh;
    font-size: 100%;
  }

  .home-recipe-card-container .recipe-card {
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    overflow: wrap;
    text-align: center;
  }

  .recipe-details-wrapper .recipe-image {
    padding: 0;
    object-fit: fill;
    /* display: block; */
    width: 50%;
    max-width: 75px;
    height: auto;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    /* border: 1px solid var(--secondary-color); */
    z-index: -5;
  }

  .recipe-details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }