/* recipe card layout */
.recipe-card-container {
    padding: 20px;
  }
  
  .recipe-card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .recipe-card {
    width: auto;
    border: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
    text-align: left;
  }
  
  .recipe-card img {
    width: 100%;
    height: auto;
  }
  
  /* recipe details modal */
.recipe-details-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 90%; 
    max-width: 600px;
    border-radius: 10px;
    overflow-y: auto;
    max-height: 90vh;
  }
  
  .recipe-details-modal h2,
  .recipe-details-modal h3 {
    font-size: 1.2em;
  }
  
  .recipe-details-modal input,
  .recipe-details-modal textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .recipe-details-modal textarea {
    min-height: 100px;
  }
  
  .recipe-details-modal button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .recipe-details-modal button:hover {
    background-color: #45a049;
  }
  
  .recipe-details-modal button:nth-of-type(2) {
    background-color: #f44336;
  }
  
  .recipe-details-modal button:nth-of-type(2):hover {
    background-color: #e53935;
  }
  
  /* modal for editable nutrition */
  .nutrition-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .nutrition-container label {
    font-weight: bold;
  }
  
  .nutrition-container input {
    width: 100px;
    padding: 5px;
    margin-left: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  
  /* new recipe form */
  .add-recipe-container {
    padding: 20px;
  }
  
  .add-recipe-container input,
  .add-recipe-container textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .add-recipe-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* add recipe button */
  .add-recipe-button-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .add-recipe-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .add-recipe-button:hover {
    background-color: #45a049;
  }
  
  /* modal recipe for add overlay */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }
  
  /* cancel btn*/
  .add-recipe-container button:nth-of-type(2) {
    background-color: #f44336;
  }
  
  .add-recipe-container button:nth-of-type(2):hover {
    background-color: #e53935;
  }
  
  /* save & cancel btns for modal */
  .recipe-modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .save-button,
  .cancel-button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .save-button {
    background-color: #4CAF50;
    color: white;
  }
  
  .save-button:hover {
    background-color: #45a049;
  }
  
  .cancel-button {
    background-color: #f44336;
    color: white;
  }
  
  .cancel-button:hover {
    background-color: #e53935;
  }
  
  .edit-button {
    background-color: #ffa500;
    color: white;
  }
  
  .edit-button:hover {
    background-color: #e68900;
  }
  