:root {
    --primary-color: #6A8042;
    --secondary-color: #1E3006;
    --accent-color: #ED7A13;
    /* --background-color: #fff; */
    --background-color: #FFFADD;
    --text-color: #1E3006; /* same as secondary-color, not sure if intentional 
    so i'm leaving it */
    --light-color: #FFE787;
    --placeholder-image: url('src/assets/branding/placeholder-image.jpg');
    --sidebar-width: 180px; /* width of the sidebar, used in under_construction.css */
}

body {
    margin-top: -2rem;
    height: 100vh;
    overflow-x: hidden;
}

h1 {
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 1rem;
}

/*@import 'styles.css'; at the top of css files to use thse*/
/* to use, ex. var(--secondary-color)*/

/* please use these and not hardcoded colors for ease of changing!! */