@import './styles.css';

.under-construction-wrapper {
    border: 1px solid #1E3006;
    width: calc(100vw - var(--sidebar-width));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFFADD;
    color: #1E3006;
    font-family: 'Arial', sans-serif;
    text-align: center;
  }
  
  .under-construction-wrapper h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .construction-image {
    width: 300px;
    height: auto;
    margin: 20px 0;
  }
  
  .under-construction-wrapper p {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #6A8042;
  }