.add-item-container {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between;
    align-items: center; /* Center items vertically */
    margin-top: 8px; /* Add some space above the container */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 8px; /* Rounded corners */
    padding: 0;
    margin: 0;
    width: 25rem; /* Set a fixed width */
    height: 2rem;
}

input {
    height: 90%;
    border-radius: 0;
    font-size: 16px; /* Set a font size */
    margin: 0; /* Remove default margin */
    border: 0;
    padding-left: 0.8rem;
}

.add-item-input {
    width: 70%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; /* Rounded corners on the left */
    border-right: 1px solid #ccc; /* Light gray border on the right */
}

.add-unit-input {
    width: 30%;
}

.add-item-button {
    background-color: #4CAF50; /* Green background */
    border: none; /* No border */
    color: white; /* White text */
    height: 100%;
    width: 20%;
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Get the block element to behave like an inline element */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Pointer/hand icon on hover */
    border-radius: 8px; /* Rounded corners */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}